### SQLite

In [46]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('example.db') # подключение к базе данных
cursor = conn.cursor()

cursor.execute('DROP TABLE IF EXISTS products')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        price REAL NOT NULL )
    ''')

cursor.execute('''
    INSERT INTO products (id, name, price) VALUES 
        (1, 'Product A', 150.00),
        (2, 'Product B', 80.00),
        (3, 'Product C', 120.00),
        (4, 'Product D', 200.00),
        (5, 'Product E', 90.00),
        (6, 'Product F', 60.00),
        (7, 'Product G', 110.00)
    ''')

conn.commit()

df = pd.read_sql_query("SELECT * FROM products", conn)

price = 100
filtered_df = df[df['price'] > price].copy()

filtered_df['discount'] = filtered_df['price'] * 0.1

filtered_df.to_sql('products',conn, if_exists='replace', index=False)

cursor.execute("SELECT * FROM products")
for row in cursor.fetchall():
    print(row)
    
conn.close()

(1, 'Product A', 150.0, 15.0)
(3, 'Product C', 120.0, 12.0)
(4, 'Product D', 200.0, 20.0)
(7, 'Product G', 110.0, 11.0)

### PostgreSQL

In [ ]:
!pip install psycopg2

In [47]:
import psycopg2

conn_params = {
    'host': '172.17.1.49',
    'port': 5432,
    'database': 'module1',
    'user': 'da',
    'password': 'da2024DE@'
}
conn = psycopg2.connect(**conn_params)

cursor = conn.cursor()

#cursor.execute("DROP TABLE users_ksen")

cursor.execute(
    '''CREATE TABLE IF NOT EXISTS users_ksen (
        id INTEGER PRIMARY KEY,
        username TEXT NOT NULL,
        email TEXT NOT NULL,
        password TEXT NOT NULL )
    ''')
    
cursor.execute(
    '''INSERT INTO users_ksen (id, username, email, password) VALUES 
        (1, 'Jhon', 'jhon@gmail.com', 'sdrot123'),
        (2, 'Maria', 'maria@mail.ru', 'sfhieg45dk')
    ''')

# обновление пароля
new_password, user_id = input('Введите новый пароль и айди пользователя через пробел: ').split()
cursor.execute("UPDATE users_ksen SET password = %s WHERE id = %s", (new_password, user_id))
               
cursor.execute("SELECT * FROM users_ksen")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

Введите новый пароль и айди пользователя через пробел:  ddghhdh 2

(1, 'Jhon', 'jhon@gmail.com', 'sdrot123')
(2, 'Maria', 'maria@mail.ru', 'ddghhdh')